<!doctype html>
<html lang="{{ lang }}">

<head>
    {% include "common/head.html" %}

    <title>Weather forecast for today</title>
</head>

{% import "common/macros.html" as macros %}

<body class="font-monospace">
    <div class="container-fluid" role="main">
        <div class="row">
            <div class="col">
                <h2 class="mt-2">
                    {{ "today" | transl(lang) }}
                    <small class="text-muted">{{ daily[0].day }}</small>
                </h2>
            </div>
        </div>

        {% include "common/location.html" %}

        <div class="row">
            <div class="col">
                <table class="table table-sm" aria-describedby="Weather forecast for today">
                    <thead class="align-middle">
                        <tr>
                            {{ macros.print_hourly_table_header(lang) }}
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for hour in hourly.today %}
                        <tr>
                            {{ macros.print_hourly_table_row(hour) }}
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot class="align-middle">
                        <tr>
                            {{ macros.print_hourly_table_units(units) }}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% include "common/footer.html" %}
    {% include "common/scripts.html" %}
</body>

</html>